body { font-family: sans-serif; margin: 0px; padding: 0px 0px 1em 0px;}

nav#header {
	line-height: 2.5em;
	background-color: #dfdfdf;
}
nav#header .title {
	background-color: #505050;
	display: inline-block;
	float: left;
	color: white;
}
nav#header .title:hover {
	background-color: #02a24b;
}
nav#header a {
	color: inherit;
}
nav#header ul#menu {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: auto;
}
nav#header ul#menu li {
	margin: 0px;
	display: inline-block;
}
nav#header ul#menu li a, nav#header .title a {
	padding: 0 1em;
	display: block;
}
nav#header ul#menu li a:hover {
	background-color: #efefef;
}

nav#header ul#menu li.selected a {
	background-color: white;
}
nav#header ul#menu li.search {
	float: right;
	margin-right: 0.5em;
}
nav#header ul#menu #searchpeople {
	font-size: 1em;
	padding: 0 0.25em;
	border: 0px;
	width: 11em;
	transition: all 0.25s linear;
}
nav#header ul#menu #searchpeople:focus {
	width: 14.5em;
}

nav#header ul#menu button {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	right: 0px;
	margin: 1em 0.75em 0 0;
	position: absolute;
	z-index: 100;
	top: 0;
}
nav#header ul#menu label {
	border: 0px;
	font-size: 1em;
	padding: 0 0.5em;
}
nav#header ul#menu #searchpeople, nav#header ul#menu label {
	height: 1.75em;
}
nav#header .searcher {
	display: block;
}
nav#header .searchresults {
	position: absolute;
	right: 0px;
	width: 15em;
}
nav#header ul#menu .searchresults ol {
	margin: 0px;
	padding: 0px;
	background-color: #cccccc;
}
nav#header ul#menu .searchresults li {
	margin-bottom: 1px;
	display: block;
	text-align: left;
	background-color: #efefef;
	color: #404040;
}
nav#header ul#menu .searchresults li .name {
	padding: 0 0.5em;
	display: inline-block;
}
nav#header ul#menu .searchresults li.selected, nav#header ul#menu .searchresults li:hover {
	background-color: black; color: #fefefe;
	cursor: pointer;
}
nav#header ul#menu .searchresults li div {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
nav#header ul#menu .searchresults li .name {
	width: auto;
}






h3 { }
p { line-height: 1.25em; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h2 { margin-top: 0.5em; }
.page { max-width: 95%; width: 900px; margin: auto; margin-top: 2em;}
ul.ignore { list-style: none; margin: 0px; padding: 0px; }
ul.ignore li { display: inline; }
ol.linklist { margin-top: 3em; }
ol.shows { list-style: none; margin: 0px; padding: 0px; }
ol.shows li,.show { margin-top: 2em; background-color: #e6e6e6; padding: 2em; }
ol.shows li p:last-child { margin-bottom: 0px; }

ol.people { line-height: 1em; }
ol.people li { margin-left: 0px; margin-bottom: 1px; }
ol.people li:hover { background-color: #efefef; }
ol.people li:hover .runningtotal { opacity: 1; }
ol.people .bar { height: 1em; float: left; display: inline-block; margin-bottom: 0px; margin-right: 0.25em; }
ol.people .runningtotal { float: right; opacity: 0.15; }

/* Pages for individuals */
ol.episodes { line-height: 1em; }
ol.episodes li { margin-left: 0px; margin-bottom: 1px; }
ol.episodes li .bar { float: left; }
table.performer .performances { width: 100%; display: block; }
table.performer .year { margin: 2px; display: block; }
.performerholder { width: 100%; overflow-x: auto; }
table.performer { font-size: 0.8em; width: auto; }
table.performer td, table.performer td:first-child { width: auto; text-align: center; padding: 0 1px 0 0; }

p.label { margin-bottom: 0px; }
.bar { width: 100%; margin: 0 0 1em 0;}
.male, .female, .other { display: inline-block; line-height: 2em; color: white; text-align: center; white-space:nowrap;}
.male { background-color: #0DBC37; }
.female { background-color: #722EA5; }
.other { background-color: #fac900; }
.graph { margin-bottom:0.75em; }
.col { display:inline-block; }
.col:last-child { border-right: 0px; }
.col .male,.col .female,.col .other,.col .unknown { display: block; max-width:100%;border-right: 1px solid #e6e6e6; }
.col .male { border-bottom: 1px solid #e6e6e6; }
.git { float: right; }
.header { position: fixed; top: 0px; border-bottom: 1px solid black; background: white; width: 100%; max-width: 100%; }
.header table { width: 900px; max-width: 100%; margin: auto; }
td:first-child { text-overflow: ellipsis; white-space: nowrap; width: 35%; }
td .bar { margin-bottom: 0px; }
td .male,td .female { font-size: 0.5em; }
a.repo {
	display: inline-block;
	padding-top: 6px;
	padding-right: 22px;
	background: transparent;
	background-image: url('github.png');
	background-position: center right;
	background-repeat: no-repeat;
}
table {  border-collapse: collapse; width: 100%; }
table td,table th {
	padding: 0.1em 0.25em;
	text-align: center;
	margin: 0px;
}
td:first-child,th:first-child {
	text-align: left;
	padding-left: 0px;
}
td:last-child {
	padding-right: 0px;
}
table.main tr.lastrow td, table.yearly tr.lastrow td { border-top: 1px solid black; padding-bottom: 1em; }
table.main tr:last-child.lastrow td { padding-bottom: 0; }
table.main tr:hover td, table.yearly tr:hover td { background-color: #e6e6e6; }
.header th:first-child { width: 50%!important; }

table.yearly .gender { width: 75%; }
table.yearly .bar { height: 1em; float: left; display: inline-block; margin-bottom: 0px; margin-right: 0em; }
table.yearly td .male, table.yearly td .female { font-size: 1em; height: 1em; }
table.yearly td:first-child { width: auto; padding-right: 0.1em; }
table.yearly td, table.yearly th { padding: 0; }
tr.total { border-top: 1px solid black; }
tr.total td { padding-top: 1px; }

table.yearrow { height:1em;width: 100%; background-color: transparent; }

table.yearrow td.split, table.yearly tr:hover table.yearrow td.split { background-color: green; }
table.yearrow td.split-male, table.yearly tr:hover table.yearrow td.split-male { background-color: #0DBC37; }
table.yearrow td.split-female, table.yearly tr:hover table.yearrow td.split-female { background-color: #722EA5; }
table.yearrow .bar { height: 1em; float: left; display: inline-block; margin-bottom: 0px; margin-right: 0em; }

ul.disambiguation::before { content: "Disambiguation:"; font-style: italic; }
ul.disambiguation { list-style: none; margin: 0px; padding: 0px; display: inline-block; }
ul.disambiguation li { margin: 0px; padding: 0 0.25em; display: inline-block; font-style: italic; }
div.wikipedia {
	float: right;
	font-size: 0.9em;
	background-color: #efefef;
	padding: 1em;
	margin: 0 0 1em 1em;
	width: 350px;
}
div.wikipedia h3 { margin: 0px; }
div.wikipedia p { font-style: italic; margin: 0; }
div.wikipedia img { float:right;height: 7.5em;border-radius:4px;margin-left:1em; }
div.wikipedia .source { color: #606060; float: right; }

.col { position: relative; }

.infobubble {
	position: absolute;
	bottom: 104px;
	left: 50%;
	width: 200px;
	min-height: 50px;
	border-radius: 4px;
	background-color: white;
	z-index: 100;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	margin-bottom: 1px;
}
.infobubble_inner {
	padding: 1em;
}
.infobubble:after {
	content: '';
	position: absolute;
	bottom: auto;
	width: 0;
	height: 0;
	border: 1em solid transparent; 
	left: 0;
	border-left-color: white;
	bottom: -1em;
}
.infobubble ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.infobubble li {
	margin: 0px;
}
.infobubble li a {
	color: white;
	width: 100%;
	font-size: 0.8em;
	margin: 1px;
	border: 0px!important;
}
.infobubble h3 {
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 1em;
}

img.flag { height: 11px; width: 16px; margin-right: 4px; display: inline-block; }
ol.dates { list-style: none; margin: 0px; padding: 0px; }
ol.dates > li { margin-bottom: 1em; }